@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Hide scrollbar (optional) */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #c6c6c6;
  border-radius: 10px;
}
.input-field {
  @apply w-full border border-gray-300 rounded-lg p-3 focus:ring-2 focus:ring-red-500 outline-none;
}
